@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #FF5455, #FF7D12);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3c2575;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8252FF;
    text-align: center;
    text-shadow: 1px 1px 2px #2215449c;
}

h2 {
    color: #739DFF;
}


p {
    text-align: justify;
}